::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
  opacity: 1; /* Firefox */
}
body {
    position: relative;
    background: url(imgindex/background.png) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: auto 100%; /* Современные браузеры */
    background-color: black;
    font-size: 65%;
    min-width: 530px;
    width: auto !important;
    min-height: 500px;
   }